img {

    width: 160px;
    height: 160px;
}

td {
    text-align: center;

}

tr {
    align-items: center;
    /* border: solid red 2px; */
    border-radius: 10px;
    /* background-color: beige; */

}

th {

    /* border: solid red 2px; */
    margin: auto;

    padding: 34px;


}

td {

    /* border: solid red 2px; */
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}

#txt-2 {

    /* border: solid red 2px;  */
    text-align: center;
    font-size: 50px;

}

table {

    /* border: solid red 2px;  */
    margin: auto;
    padding: 30px;

}