@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300&display=swap');



body{
    margin: 0 auto;
    background-color: whitesmoke;
    text-align: center;
    height: 2480px;
}

h1{

  /* border: solid red 2px; */
  text-align: center;
  color: black;
  font-size: 50px;
  height: 0%;

}

footer {


  width: 100%;
  height: 45px;
  background-color: beige;
  position: fixed;
  bottom: 0;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.navbar {
    /* border: solid red 2px; */
    overflow: hidden;
    background-color: #3cb371;
    width: auto;
    font-family: 'Murecho', sans-serif;

  }
  
  .navbar a {

    /* border: solid red 2px;  */
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
    
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;

  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #dddddd8c;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
}


.txt-4{
    
  /* border: solid red 2px; */
    display: inline-block;
    text-align: left;
    line-height: 30px;
    margin: 5px;
    width: 70px;
    color: white;

}

.img-1{

  height: 100px;

}

.img-1 ,.txt-4{
    /* border: solid red 2px; */
    font-size: 20px;
    float: left;
    text-align: center;

}

h2{
    
  display: inline-block;
  line-height: 30px;
  margin: 5px;
  width: 70px;

}

.preco{
    color: #3cb371;
    font-size: 22px;
}


.nome{
    font-size: 18px;
}

.bot{
    line-height: 6;
}


table{

  align-self: center;
  width: 100%;
  width: 1px;
  text-align: center;
  /* border: solid red 2px;  */
  margin: auto;
  padding: 10px;
   
}

.buttom1{
    font-size: 18px;
    border-radius: 25px;
    color: whitesmoke;
    cursor: pointer;
    background-color: #3cb371;
    text-align: center;
    
}

.buttom1:hover{
    animation-name: botao;
    animation-duration: 1.2s;
}

@keyframes botao{
    0%{
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

th {

  /* border: solid red 2px; */
  margin: auto;
  padding: 34px;

}

td,th{

  border: solid black 2px;
  border-radius: 10px;

}

tr {
  align-items: center;
  /* border: solid red 2px; */
  border-radius: 10px;
  /* background-color: beige; */
}

td {

  /* border: solid red 2px; */
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  color: black;

}
