body{
    /* border: red solid 2px; */
    background-image: none;
    max-width: 1200px; 
    margin: 0 auto;
    background-color: whitesmoke;
    color: black; 

}

header{
    /* border: aquamarine solid 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3cb371;
}
.title {
    text-align: center;
    line-height: 20px;

}
li{
    display: inline-block;
    
    margin: 10px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    transition: 3s;
}
#btn-conta{
    border-radius: 4px;
    color: black;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
   }    
   
#btn-conta:hover{
    background-image: linear-gradient(90deg, #3cb371 0%, #53cbef 50%, #53cbef 75%, #3cb371 100%);
 animation: slidernbw 5s linear infinite;
 color: whitesmoke;
}

main{
    /*border: #53cbef solid 2px;*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}
aside{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 56px;
    line-height: 10px;
    
}
span{
    color: #3cb371;
}
p{
    line-height: 20px;
    max-width: 500px;
    
    text-align: justify;
}
img{
    width: 500px;
    margin: 50px;
}
form{
    /*border: #ffa3b6 solid 2px;*/
    display: flex;
    flex-direction: column;
    width: 90%;
    
}   

form [ type="submit"]{
    height: 60px;
    width: 50%;
    background-color: #3cb371;
    color: black;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
    background: radial-gradient( circle farthest-corner at 10% 20%,  #3cb371 17.8%, rgba(2,245,255,1) 100.2% );
    color: whitesmoke;
    transition: 1.5s;
  
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}
