body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    border: red solid 2px;
    background-color: #3cb371;
    color: black;
   
}
.card{
    position: relative;
    top: 50%;
    left: 50%;
    margin: 20px;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 450px;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 30px 5px rgb(52, 2, 52);
}


img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 30px;
    margin-bottom: 15px;
    
}
#senai{
    text-align: center;
}

#jorge{
    display: flex;
    flex-direction: flex;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 15px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    border-right: black solid 1px;
}
.profile>h1 {
    line-height: 1px;
    margin-left: 50px;
    text-align: center;
}
.info{
    background-color: aqua solid 1px;
    /*border-radius: red solid 9px;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.icon{
    width: 50px;
    left: 50px;
    
    transition: transform 0.3 ease-in-out;
}
.icon:hover{
    transform: scale(1.1);
}

.texto{
    /*border: solid red 2px;*/
    background-color: whitesmoke;
    line-height: 50px;
    margin-top: 10px;
    text-align: center;
    line-height: 25px;
    margin-left: 50px;
    width: 590px;
    
    
    

}
.icones{
     display: flex;
     flex-direction: row;
     align-items: center;

}

.button { 
  
    position: center;
    display: flex;
    flex-direction: flex;
    height: 50px;
    border-radius: 50%;
    margin-left: 50%;
    margin-bottom: 15px;
    width: 100px;
    left: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3cb371;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    background: #3cb371;
   }
   
   .button > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .button:hover {
    box-shadow: 9px 9px 33px #3cb371, -9px -9px 33px #3cb371;
    transform: translateY(-2px);
   }
